!<!DOCTYPE html>
<html>
    <head>
        <title>IrisML</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="timing.css">
    </head>
    <body>
        
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #c0deed;">
      <a class="navbar-brand" href="/">IrisML</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <a class="nav-link" href="/demos">Demos</a>
            <a class="nav-link" href="/documentation">Documentation</a>
            <a class="nav-link" href="/color">Color</a>
        </ul>
      </div>
    </nav>
    <br>
    <br>
    <h1>Time: <span id="timeTaken"></span><span id = "avgTime">Average Time: </span> Hits: <span id="hits"></span></h1>
    <div id="shape">
    </div>
    <script type="text/javascript" src="timing.js"></script>
    </body>   
</html>