body { 
  background: url(images/About-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background: black;
  overflow: hidden;
}

#round {
  border-radius: 3%;
}