body { 
  background: url(images/About-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
	opacity: 0.98;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.15),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
	margin-top: 23em;
}

.navbar {
  background-color: rgb(107, 130, 152);
}