html, body {
  margin: 0;
  height: 100%;
}

body { 
  background: url(About-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.jumbotron {
	opacity: 0.97;
	text-align: center;
	
}

.navbar {
  background-color: rgb(107, 130, 152);
}

.round {
  border-radius: 3%;
  background: rgb(10, 38, 99);
  overflow: hidden;
}

