<!DOCTYPE html>
<html>
<head>
  <title>IrisML</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="demos.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-white">

<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">IrisML</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/demos">Demos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/documentation">Documentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/color">Color</a>
      </li>
    </ul>
  </div>
</nav>


<h1 class="row justify-content-center">
    Classification Neural Network Demo
</h1>

<div class="container round mb-5 px-5">
  
  <div class="py-4 pl-3">
    <button type="button" id="net-start" class="btn btn-success mb-3">Start</button>
    <button type="button" id="net-stop" class="btn btn-danger ml-3 mb-3">Stop</button>
  </div>
  
  <div class="d-flex justify-content-between">
    <div class="col-4">
      <div class="mb-2 ml-4" id='container'>
        <canvas id='canvas' width='300' height='300'></canvas>
      </div>
      <div class="d-flex justify-content-between">
        <div class="ml-4" id='buttons'>            
          <button type="button" id="guess" value='Clear Canvas' class="btn btn-success mb-3">Guess</button>
        </div>
        <div class="" id='buttons'>
          <button type="button" id="clear" value='Clear Canvas' class="btn btn-danger mb-3">Clear</button>
        </div>
      </div>
    </div>
    <div class="col-4 mr-5 mb-5 align-self-center"><img src="guess.png"></div>
  </div>

  <div class="row justify-content-center pb-5">
    <canvas id="net-chart" width='100'></canvas>
  </div>

  <div>
    <div class="row pb-4">
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Epochs</span>
          </div>
          <input type="number" class="form-control" placeholder="100" id="net-epochs">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Inputs</span>
          </div>
          <input type="number" class="form-control" placeholder="100" id="net-inputs">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Outputs</span>
          </div>
          <input type="number" class="form-control" placeholder="10"id="net-outputs">
        </div>
      </div>
    </div>
    <div class="row pb-4">
<div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Instances</span>
          </div>
          <input type="number" class="form-control" placeholder="1000000" id="net-instances">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text">Learning Rate</span>
          </div>
          <input type="number" class="form-control" placeholder="1" id="net-alpha">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text">Regularized Rate</span>
          </div>
          <input type="number" class="form-control" placeholder="0" id="net-lambda">
        </div>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Layers</span>
          </div>
          <input type="number" class="form-control" placeholder="3" id="layers">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
              <label for="exampleFormControlSelect1"></label>
              <select id="nodes" class="form-control" id="exampleFormControlSelect1">
                <option># Nodes in Hidden Layer 1</option>
              </select>
          </div>
          <input id="nodesLayer" type="number" class="form-control" placeholder="1" id="node-layers">
        </div>
      </div>
    </div>
  </div>

</div>
	
<h1 class="row justify-content-center">
    Linear Regression Demo
</h1>

<div class="container round mb-5">

  <div class="py-4 pl-3">
    <button type="button" id="lin-start" class="btn btn-success mb-3">Start</button>
    <button type="button" id="lin-stop"class="btn btn-danger ml-3 mb-3">Stop</button>
    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1"></label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>
  </div>

  <div class="row justify-content-center pb-5 px-4">
    <canvas id="lin-chart" width='100'></canvas>
  </div>

  <div class="row m-auto pb-4">
    <div class="col d-flex flex-row justify-content-center mx-5">
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text">Inputs</span>
        </div>
        <input type="number" class="form-control" placeholder="100" id="lin-inputs">
      </div>
    </div>
    <div class="col d-flex flex-row justify-content-center mx-5">
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text">Learning Rate</span>
        </div>
        <input type="number" class="form-control" placeholder="1" id="lin-alpha">
      </div>
    </div>
    <div class="col d-flex flex-row justify-content-center mx-5">
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text">Regularized Rate</span>
        </div>
        <input type="number" class="form-control" placeholder="0" id="lin-lambda">
      </div>
    </div>
  </div>
  <div class="row m-auto pb-4">
    <div class="col d-flex flex-row justify-content-center mx-5">
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text"># Epochs</span>
        </div>
        <input type="number" class="form-control" placeholder="10000" id="lin-epochs">
      </div>
    </div>
    <div class="col d-flex flex-row justify-content-center mx-5">
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text"># Instances</span>
        </div>
        <input type="number" class="form-control" placeholder="1000000" id="lin-instances">
      </div>
    </div>
  </div>

</div>

	
<h1 class="row justify-content-center">
    Binary Classification Demo
</h1>

<div class="container round mb-5">

  <div class="py-4 pl-3">
    <button type="button" id="bin-start" class="btn btn-success mb-3">Start</button>
    <button type="button" id="bin-stop"class="btn btn-danger ml-3 mb-3">Stop</button>
    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1"></label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>
  </div>

  <div class="row justify-content-center pb-5 px-4">
    <canvas id="bin-chart" width='100'></canvas>
  </div>

  <div class="row m-auto pb-4">
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text">Inputs</span>
          </div>
          <input type="number" class="form-control" placeholder="100" id="bin-inputs">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text">Learning Rate</span>
          </div>
          <input type="number" class="form-control" placeholder="1" id="bin-alpha">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text">Regularized Rate</span>
          </div>
          <input type="number" class="form-control" placeholder="0" id="bin-lambda">
        </div>
      </div>
    </div>
    <div class="row m-auto pb-4">
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Epochs</span>
          </div>
          <input type="number" class="form-control" placeholder="10000" id="bin-epochs">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Instances</span>
          </div>
          <input type="number" class="form-control" placeholder="1000000" id="bin-instances">
        </div>
      </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.4.0/fabric.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="javascript/net-demo.js"></script>
<script src="javascript/lin-demo.js"></script>
<script src="javascript/bin-demo.js"></script>
<script src="javascript/canvas-demo.js"></script>
</body>
</html>