<!DOCTYPE html>
<html>
<head>
  <title>IrisML</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="demos.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="text-white">

<nav class="navbar fixed-top navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="/">IrisML</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse d-flex justify-content-between navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav">
		<a class="nav-link current" href="/demos">Demos</a>
		<a class="nav-link current" href="/documentation">Documentation</a>
		<a class="nav-link current" href="/color">Color</a>
	</div>
	<div class="d-flex align-items-center" id="black">
		<div class="welcome">Welcome Back!</div>
	</div>
	<div class="navbar-nav">
		<a class="nav-link current" id="notLogged" href="/profile">Profile</a>
		<a class="nav-link current" id="logged" href="/login">Log in</a>
		<a class="nav-link current" id="logged" href="/signup">Sign up</a>
	</div>
  </div>
</nav>


<h1 class="row justify-content-center">
    This is a Classification Neural Network Demo
</h1>

<div class="container round mb-5 px-5">
  
  <div class="py-4 pl-3">
    <button type="button" id="net-start" class="btn btn-success mb-3">Start</button>
    <button type="button" id="net-stop" class="btn btn-danger ml-3 mb-3">Stop</button>
  </div>
  
  <div class="row justify-content-center pb-5">
    <canvas id="myCanvas" width="28" height="28" style="border:2px solid black"></canvas>
    <div class="col d-flex flex-row justify-content-center mx-5"><img src="guess.png"></div>
  </div>

  <form class="pb-5 col-3">
    Choose Number to Guess
    <div class="input-group mb-auto">
      <label for="exampleFormControlSelect1"></label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
    </div>
  </form>

  <div class="row justify-content-center pb-5">
    <canvas id="net-chart" width='100'></canvas>
  </div>

  <div>
    <div class="row pb-4">
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Epochs</span>
          </div>
          <input type="number" class="form-control" placeholder="100" id="net-epochs">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Inputs</span>
          </div>
          <input type="number" class="form-control" placeholder="100" id="net-inputs">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Outputs</span>
          </div>
          <input type="number" class="form-control" placeholder="10"id="net-outputs">
        </div>
      </div>
    </div>
    <div class="row pb-4">
<div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Instances</span>
          </div>
          <input type="number" class="form-control" placeholder="1000000" id="net-instances">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text">Learning Rate</span>
          </div>
          <input type="number" class="form-control" placeholder="1" id="net-alpha">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text">Regularized Rate</span>
          </div>
          <input type="number" class="form-control" placeholder="0" id="net-lambda">
        </div>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Layers</span>
          </div>
          <input type="number" class="form-control" placeholder="4" id="layers">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
              <label for="exampleFormControlSelect1"></label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option># Nodes in Hidden Layer 1</option>
                <option># Nodes in Hidden Layer 2</option>
              </select>
          </div>
          <input type="number" class="form-control" placeholder="1" id="node-layers">
        </div>
      </div>
    </div>
  </div>

</div>
	
<h1 class="row justify-content-center">
    This is a Linear Regression Demo
</h1>

<div class="container round mb-5">

  <div class="py-4 pl-3">
    <button type="button" id="lin-start" class="btn btn-success mb-3">Start</button>
    <button type="button" id="lin-stop"class="btn btn-danger ml-3 mb-3">Stop</button>
    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1"></label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>
  </div>

  <div class="row justify-content-center pb-5 px-4">
    <canvas id="lin-chart" width='100'></canvas>
  </div>

  <div class="row m-auto pb-4">
    <div class="col d-flex flex-row justify-content-center mx-5">
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text">Inputs</span>
        </div>
        <input type="number" class="form-control" placeholder="100" id="lin-inputs">
      </div>
    </div>
    <div class="col d-flex flex-row justify-content-center mx-5">
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text">Learning Rate</span>
        </div>
        <input type="number" class="form-control" placeholder="1" id="lin-alpha">
      </div>
    </div>
    <div class="col d-flex flex-row justify-content-center mx-5">
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text">Regularized Rate</span>
        </div>
        <input type="number" class="form-control" placeholder="0" id="lin-lambda">
      </div>
    </div>
  </div>
  <div class="row m-auto pb-4">
    <div class="col d-flex flex-row justify-content-center mx-5">
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text"># Epochs</span>
        </div>
        <input type="number" class="form-control" placeholder="10000" id="lin-epochs">
      </div>
    </div>
    <div class="col d-flex flex-row justify-content-center mx-5">
      <div class="input-group mb-auto">
        <div class="input-group-prepend">
          <span class="input-group-text"># Instances</span>
        </div>
        <input type="number" class="form-control" placeholder="1000000" id="lin-instances">
      </div>
    </div>
  </div>

</div>

	
<h1 class="row justify-content-center">
    This is a Binary Classification Demo
</h1>

<div class="container round mb-5">

  <div class="py-4 pl-3">
    <button type="button" id="bin-start" class="btn btn-success mb-3">Start</button>
    <button type="button" id="bin-stop"class="btn btn-danger ml-3 mb-3">Stop</button>
    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1"></label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>
  </div>

  <div class="row justify-content-center pb-5 px-4">
    <canvas id="bin-chart" width='100'></canvas>
  </div>

  <div class="row m-auto pb-4">
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text">Inputs</span>
          </div>
          <input type="number" class="form-control" placeholder="100" id="bin-inputs">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text">Learning Rate</span>
          </div>
          <input type="number" class="form-control" placeholder="1" id="bin-alpha">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text">Regularized Rate</span>
          </div>
          <input type="number" class="form-control" placeholder="0" id="bin-lambda">
        </div>
      </div>
    </div>
    <div class="row m-auto pb-4">
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Epochs</span>
          </div>
          <input type="number" class="form-control" placeholder="10000" id="bin-epochs">
        </div>
      </div>
      <div class="col d-flex flex-row justify-content-center mx-5">
        <div class="input-group mb-auto">
          <div class="input-group-prepend">
            <span class="input-group-text"># Instances</span>
          </div>
          <input type="number" class="form-control" placeholder="1000000" id="bin-instances">
        </div>
      </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="net-demo.js"></script>
<script src="lin-demo.js"></script>
<script src="bin-demo.js"></script>
</body>
</html>