body { 
  background: url(images/About-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 80px;
}

.container {
  background: rgb(10, 38, 99);
  overflow: hidden;
}

#round {
  border-radius: 3%;
}